body {
  font-weight: 600;
}

.game-list {
  text-align: left;
}

table {
  border-spacing: 0;
  text-align: center;
}

.statusRow {
  height: 30px;
}

.gameStatus {
  padding-left: 15px;
  font-weight: bold;
}

.teamName {
  padding-right: 20px;
  width: 13em;
  font-size: 16px;
  font-weight: 700;
}

.inningCol {
  width: 15px;
  font-weight: bold;
}

.summaryCol {
  width: 1em;
  font-weight: bold;
}

.logoColumn {
  width: 50px;
  height: 50px;
  padding: 0;
}

.logoImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.inProgress {
  background-color: rgba(0,0,0,0.2);
}